.header{
    display: flex;
    justify-content: space-between;
    padding-inline: 1.25rem;
    padding-block: 1.30rem;
    align-items:center;
    color: white;
}

.header_logo{
    font-size: 3rem;
    font-weight: 600;
}

.nav_ul{
    list-style: none;
    display: flex;
    gap: 5rem;
}

.nav_a{
    color: inherit;
    text-decoration: none;
    
}