.hero{
    display: flex
}


.hero_left{
    width: 50rem;
    height: 30rem;
    padding-inline:1rem;
}

.painel{
    border: 10px solid #11161D;
    border-radius: 20px;    
    height: 29rem;

}

.dog_img{
    border: 0px solid;
    border-radius: 20px;
    padding-inline: 0px;
    width: 27rem;
    height: 27.8rem;
}

.iconeprog{
    height: 100px;
    margin-top: 1.3rem;
    padding-inline: 10rem ;
    
}

.hero_right{
    width: 100rem;
    height: 30rem;
}

.title_intro{
    font-family: "Roboto Mono", monospace;
    font-size: 4rem;
    color:rgba(255, 255, 255, 0.973);
    padding-left: 4rem;
    letter-spacing: -0.2rem;
    margin-block:0.05em
}

.desc_intro{
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    padding-left: 4.5rem;
    letter-spacing: -0.15rem;
    max-width: 55ch;
    text-justify: auto;
}

.git_button{
    background: rgb(37, 36, 36) ;
    border: 10px solid rgb(37, 36, 36) ;
    border-radius: 8px; 
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    margin-top: 12em;
    margin-left: 4rem;
}

.git_link{
    text-decoration: none;
    color: black;
}

.insta_button{
    background: rgb(37, 36, 36) ;
    border: 10px solid rgb(37, 36, 36) ;
    border-radius: 8px; 
    font-family: "Roboto Mono", monospace;
    font-size: 1.4rem;
    margin-top: 12em;
    margin-left: 4rem;
}

.insta_link{
    text-decoration: none;
    color: black;
}
